body {
  text-align: center;
  background-color: #011f3f;
  margin: 0;
  box-sizing: border-box;
}

#level-title,
footer {
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  margin: 8vh auto;
  color: #fef2bf;
  width: 75%;
  /* margin-top: 10vh; */
}

.container {
  display: grid;
  width: 100%;
  max-width: 650px;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1vw 1vw;
  justify-items: center;
}

.btn {
  height: 45vw;
  width: 45vw;
  max-width: 300px;
  max-height: 300px;
  border: 10px solid black;
  border-radius: 15%;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
